$white: #ffffff; // background and text
$blue__lagoon: #B1E5F2; // --extra, shades
$quick__silver: #A6A6A8; // non-action, labels, placeholder
$chaleston__green: #272635; // non-white text, shadow, input text
$light__sea__green: #21D19F; // action call, buttons
$background-image: linear-gradient(to left bottom, #ffffff, #f3f6ff, #e1effe, #caeafb, #b1e5f2);
$warn: #947667;